﻿@model LicenseModel

@{
    Layout = "_AdminLayout";

    Html.SetActiveMenuItemSystemName("NopStationCore.License");

    ViewBag.PageTitle = T("Admin.NopStation.Core.License").Text;
}

<form asp-controller="NopStationCore" asp-action="License" method="post">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.NopStation.Core.License")
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>

    <div class="cards-group">
        <div class="card card-default">
            <div class="card-body">
                @await Component.InvokeAsync("StoreScopeConfiguration")
                <div asp-validation-summary="All"></div>


                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="LicenseString_OverrideForStore" asp-input="LicenseString" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="LicenseString" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="LicenseString" />
                    </div>
                </div>


            </div>
        </div>
    </div>
</form>