﻿@model CoreLocaleResourceSearchModel
@inject AdminAreaSettings adminAreaSettings
@using Nop.Web.Areas.Admin.Models.Localization

@{
    Layout = "_AdminLayout";

    //page title
    ViewBag.PageTitle = T("Admin.NopStation.Core.LocaleResources").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("NopStationCore.LocaleResources");
}

@{
    const string hideSearchBlockAttributeName = "CoreLocaleResourcesPage.HideSearchBlock";
    var hideSearchBlock = await genericAttributeService.GetAttributeAsync<bool>(workContext.GetCurrentCustomerAsync().Result, hideSearchBlockAttributeName);
}

<div class="content-header clearfix">
    <h1 class="float-left">
        @T("Admin.NopStation.Core.LocaleResources")
    </h1>
</div>

<div class="cards-group">
    <div class="card card-default">
        <div class="card-body">
            <div class="panel panel-default panel-search">
                <div class="panel-body">
                    <div class="row search-row @(!hideSearchBlock ? "opened" : "")" data-hideAttribute="@hideSearchBlockAttributeName">
                        <div class="search-text">@T("Admin.Common.Search")</div>
                        <div class="icon-search"><i class="fa fa-search" aria-hidden="true"></i></div>
                        <div class="icon-collapse"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
                    </div>

                    <div class="search-body @(hideSearchBlock ? "closed" : "")">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <nop-label asp-for="SearchResourceName" />
                                    </div>
                                    <div class="col-md-9">
                                        <nop-editor asp-for="SearchResourceName" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <nop-label asp-for="SearchLanguageId" />
                                    </div>
                                    <div class="col-md-9">
                                        <nop-select asp-for="SearchLanguageId" asp-items="Model.AvailableLanguages" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <nop-label asp-for="SearchPluginSystemName" />
                                    </div>
                                    <div class="col-md-9">
                                        <nop-select asp-for="SearchPluginSystemName" asp-items="Model.AvailablePlugins" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7 col-md-offset-5">
                                <div class="form-group">
                                    <button type="button" id="search-resource" class="btn btn-primary btn-search">
                                        <i class="fa fa-search"></i>
                                        @T("Admin.Common.Search")
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    @await Html.PartialAsync("Table", new DataTablesModel
                    {
                        Name = "resource-grid",
                        UrlRead = new DataUrl("LocaleResource", "NopStationCore", null),
                        UrlUpdate = new DataUrl("ResourceUpdate", "NopStationCore", null),
                        Length = adminAreaSettings.DefaultGridPageSize,
                        LengthMenu = adminAreaSettings.GridPageSizes,
                        SearchButtonId = "search-resource",
                        Filters = new List<FilterParameter>
                        {
                            new FilterParameter(nameof(Model.SearchLanguageId)),
                            new FilterParameter(nameof(Model.SearchPluginSystemName)),
                            new FilterParameter(nameof(Model.SearchResourceName))
                        },
                        ColumnCollection = new List<ColumnProperty>
                        {
                            new ColumnProperty(nameof(CoreLocaleResourceModel.ResourceName))
                            {
                                Title = T("Admin.NopStation.Core.Resources.Fields.Name").Text,
                                Width = "300"
                            },
                            new ColumnProperty(nameof(CoreLocaleResourceModel.ResourceValue))
                            {
                                Title = T("Admin.NopStation.Core.Resources.Fields.Value").Text,
                                Width = "300",
                                Editable = true,
                                EditType = EditType.String
                            },
                            new ColumnProperty(nameof(CoreLocaleResourceModel.LanguageId))
                            {
                                Title = T("Admin.NopStation.Core.Resources.Fields.Value").Text,
                                Editable = true,
                                EditType = EditType.Number,
                                Visible = false
                            },
                            new ColumnProperty(nameof(CoreLocaleResourceModel.ResourceNameLanguageId))
                            {
                                Title = T("Admin.Common.Edit").Text,
                                Width = "200",
                                ClassName =  NopColumnClassDefaults.Button,
                                Render = new RenderButtonsInlineEdit()
                            }
                        }
                    })
                </div>
            </div>
        </div>
    </div>
</div>
